body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@font-face {
  font-family: 'Arcade_Classic'; 
  src: url('./fonts/ARCADE.TTF'); 
}
@font-face {
  font-family: 'Cthulhu_Arcade'; 
  src: url('./fonts/JMH\ Cthulhumbus\ Arcade.otf'); 
}
@font-face {
  font-family: 'Regular_Arcade'; 
  src: url('./fonts/PressStart2P-Regular.ttf'); 
}
@font-face {
  font-family: 'Old_Bits'; 
  src: url('./fonts/ka1.ttf'); 
}